.paginaBackground {
    display: flex;
    flex-direction: column;
}

.conteudoAlinhado {
    margin-top: -420px;
    margin-left: 480px;
    display: flex;
    
}

.containerColuna {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.AlinhamentoHorizontal {
    display: flex;
    flex-direction: row;
}

.AlinhamentoVertical {
    display: flex;
    flex-direction: column;
}

#tituloPagina {
    text-align: center;
    width: 100%;
}

.botaoAlinhado {
    display: flex;
    margin-top: 2%;
}

.paginaConteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.alinhamentoButton {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

#botaoSubmit {
    width: 167px;
    height: 54px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    border: 1px solid gray;
    font-size: 20px;
    background-color: #162E8F;
    color: white;
}
