.background{
    display: flex;
    flex-direction: column;

}


.MenuPage{
    display: flex;
    align-self: self-start;
    margin-left: 320px;
 
}
.AlinhamentoConteudo{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 100px;

}

.AlinhamentoContainers{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.AlinhamentoHorizontal{
    display: flex;
    flex-direction: row;
    
   
}
.AlinhamentoVertical{
    display: flex;
    flex-direction: column;
    
}

#TitlePage{
    display: flex;
    align-self: center;
}

.AlinhamentoButton{
    display: flex;
    margin-top: 2%;
}

.AlinhamentoForms{
    /* border: 1px solid rgba(128, 128, 128, 0.603);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.199); */

}
.Conteudo{
    display: flex;
    flex-direction: column;
}

.alinhamentoButton{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    
}

#submit{
    width: 167px;
    height: 54px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    border: 1px solid gray;
    font-size: 20px;
    
}

#submit{
    background-color: #162E8F;
    color: white;
    
}