body{
        margin: 0;
        padding: 0;
  
}
.Background{
    padding: 2%; 
}

.Container{
    display: flex;
    flex-direction: row;
 
}
.Conteudo{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 25%;
}
.Alinhamento_Card{
    display: flex;
    flex-direction: row;
    gap: 50px;
} 