.background {
    display: flex;
    flex-direction: column;
  }
  
  .AlinhamentoConteudo {
    display: flex;
    flex-direction: row;
    
    
   
  }

  
  .MenuPage {
    display: flex;
    align-self: self-start;
    margin-top: 150px;
    margin-left: 200px;
   
  }
  
  .AlinhamentoContainers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }
  
  .AlinhamentoHorizontal {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .AlinhamentoVertical {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  #TitlePage {
    margin-left: 30px;
  }
  
  .AlinhamentoButton {
    display: flex;
    margin-top: 2%;
  }
  