.Container_Maior{
 display: flex;
 flex-direction: column;

}

#Container_Menor{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid gray;
    border-radius: 10px;
    width: 300px;
    margin-bottom: 10px;
    justify-content: space-between; 
    
}

#Container_Menor:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    background-color: #162e8f;
    color: white;
    cursor: pointer;
    border: 2px solid #162e8f;
    transition: all 0.3s ease;
}


#Conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#Container_Menor img{ 
    width: 24px;
    height: 24px;
 
}

#Container_Menor, img,  #Text{
    margin-left: 10px;
}

#Seta{
    margin-right: 30px;
}
