
  .topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  
  .logo {
    margin-left: 100px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: black;
  }
  
  .topbar nav {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 10%;
  }
  
  .topbar nav a {
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    font-family: 'Urbanist', sans-serif;
    padding-bottom: 4px;
  }
  
  .topbar nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease;
  }
  
  .topbar nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }


  .botao_img:hover {
    transform: scale(1.05);
  }
  
  .input_container {
    position: relative;
    width: 40%;
    margin-left: 2%;
  }
  
  .input_container input {
    width: 40%;
    padding: 10px 16px 10px 40px; 
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 600;
  }
  
  .search_icon {
    position: absolute;
    left: 1px; 
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    pointer-events: none;
    opacity: 0.6;
  }
  .user_icon {
    margin-right: 5%;
    width: 24px;
    height: auto;
    transition: transform 0.2s ease;
  }
  
  .user_icon:hover {
    transform: scale(1.05);
  }

  #button{
    width: 80px;
    height: 40px;
    transform: scale(1.05);
    background-color: #162E8F;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-right: 100px ;
  }