.NavBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    z-index: 10;

}

.NavBar #texth1{
    padding-left: 100px;
    font-size: 40px;
}
.NavBar #texth3{
    padding-right: 100px;
    color: gray;
    font-size: 18.72px;
}